# Mac stuff:
.DS_Store

# Rust compile target directories:
target
target_ra
target_wasm

# Custom check script's cache directory for `cargo check`, `cargo clippy`, and `cargo test`
.check-cache

# Directory for Coverage Gutters
/coverage

# Flamegraph tests
/flamegraph*

# Editor settings
.vscode

# Temporary files and notes
/notes

# Files used for benchmarks
/benchmark-resources

/third-party/include_compression
/third-party/lib_compression
/third-party/dylib_compression

# Executables
/other-benchmarks/bench-mojang-leveldb/bench_mojang_leveldb
/other-benchmarks/bench-rebedrock-leveldb/bench_rbedrock_leveldb
