# Mac stuff:
.DS_Store

# Rust compile target directories:
target
target_ra
target_wasm

# Cache directory for `cargo check` and `cargo clippy`
.check-cache

# Directory for Coverage Gutters
/coverage

# Flamegraph tests
/flamegraph*

# Editor settings
.vscode

# Temporary files and notes
/notes

# Test file
/bench-impls/put-mc-world-db-here/db

/bench-impls/bench-rbedrock-leveldb/bench_rbedrock_leveldb
/bench-impls/bench-mojang-leveldb/bench_mojang_leveldb
/bench-impls/**/sample.output

/third-party/include_compression
/third-party/lib_compression
/third-party/dylib_compression
