[package]
name         = "anchored-leveldb"
authors      = ["Finley Huggins"]
description  = "Reimplementation of LevelDB, exposing a convenient and performant interface"
# TODO: make a crate-specific README
readme       = "../../README.md"
keywords     = ["leveldb", "database"]
categories   = ["database", "database-implementations"]
include      = ["Cargo.toml", "**/*.rs", "../../LICENSE-APACHE", "../../LICENSE-MIT"]
version      = "0.1.0"
edition      .workspace = true
rust-version .workspace = true
repository   .workspace = true
license      .workspace = true

[lints]
workspace = true

[package.metadata.docs.rs]
all-features = true


[dependencies]
anchored-pool       .workspace = true
anchored-skiplist   .workspace = true
anchored-sstable    .workspace = true
anchored-vfs        .workspace = true

bijective-enum-map  .workspace = true
cfg-if              .workspace = true
clone-behavior      .workspace = true
crc32c              .workspace = true
dyn-clone           .workspace = true
generic-container   = { workspace = true, features = ["kinds"] }
integer-encoding    .workspace = true
# mini-moka           = { workspace = true, default-features = false, optional = true }
# moka                = { workspace = true, features = ["sync"], optional = true }
oorandom            .workspace = true
seekable-iterator   .workspace = true
serde               = { workspace = true, optional = true }
sorted_vector_map   .workspace = true
subslice-to-array   .workspace = true
thiserror           .workspace = true
tracing             .workspace = true

[target.'cfg(any(unix, windows))'.dependencies]
fs4                 .workspace = true


[features]
default             = ["threading", "std-fs"]

serde               = ["serde/derive"]
moka-caches         = ["anchored-sstable/moka-caches"]

snappy-compressor   = ["anchored-sstable/snappy-compressor"]
zstd-compressor     = ["anchored-sstable/zstd-compressor"]

# TODO: apply feature gates appropriately to make this crate be compatible with web WASM
threading           = []
std-fs              = ["anchored-vfs/std-fs"]
# Via `anchored-sstable`, we depend on getrandom 0.2.x and getrandom 0.3.x
wasm-js             = ["anchored-sstable/wasm-js"]

polonius            = []
